:root{
    --background-color-white: #ffffff;
    --background-color-filter-day-light-blue: #EBF0F5;
    --background-table-header: #459DF5;
    --background-color-day-shade: #2184e8;
    --color-orange: #FF8C56;
    --color-green: #0FB864;
    --background-color-red: #F53152;
    --color-blue: #459DF5;
    --color-day-light-blue: #EBF0F5;
}




body{
    background-color: var(--background-color-white);
    padding-left: 3rem;
    padding-top: 2rem;
    padding-right: 3rem;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1rem;
}

header{
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.panel__upper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.panel__left{
    display: flex;
    gap: 1rem;
    max-width: 38rem;
    flex-grow: 1;

}


.panel__left-input{
    flex-grow: 1; 
}

.input-block-border-blue{
    margin-right: 0.25rem;
}
.input-block-border-blue div{
    border-color: var(--color-blue);
    width: 8.875rem;

}


.panel__filter-style{
    margin-right: 1rem;
}

.panel__filter-wrapper{
    width: 12rem;
    margin-right: 1rem;
}
.panel__filter-wrapper svg{
    width: 1rem;
    height: 1rem;
}

.panel__filter-wrapper button{
    display: flex;
    align-items: center;
}
.panel__filter-wrapper div{
    border-color: var(--color-blue);
}

.panel__filter-wrapper input{
    color: var(--color-black);
}

.panel__filter{
    background-color: var(--background-color-filter-day-light-blue);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    flex-grow: 1;
    margin-bottom: 2rem;

}


.tableHeader{
    display: flex;
    align-items: center;
    background-color: var(--background-table-header);
    height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tableHeader_check{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-table-header);
    width: 2rem;
}

.tableHeader_nomer{
    display: flex;
    align-items: center;
    width: 6.75rem;
    padding-left: 0.5rem;
    background-color: var(--background-table-header);
}

.tableHeader_item-icon{
    fill: var(--background-color-white);
    height: 1rem;
    width: 1rem;
}

.tableHeader_nomer span{
    color: var(--background-color-white);
}

.tableHeader_item{
    background-color: var(--background-table-header);
    display: flex;
    align-items: center;
    width: 17%;
    padding-left: 0.5rem;
    height: 2.5rem;
    gap:0.25rem;
}

.tableHeader_item span{
    color: var(--background-color-white);
}



.tableHeader-checked{
    background-color: var(--background-color-day-shade);
}

.tableHeader_item-positions{
    width: 10%;
}

.tableHeader_item-summ{
    width: 13%;
}

.tableHeader_name{
    width: 25%;
}

.tableHeader_name span{
    color: var(--background-color-white);
}

.tableBody{
    height: 27.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 2.5rem;
}

.tableBody_row{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tableBody_check{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;  
}

.tableBody_item{
    background-color: var(--background-color-white);
    display: flex;
    align-items: center;
    width: 17%;
    padding-left: 0.5rem;
    height: 2.5rem;
    gap: 0.25rem;
}

.tableBody_item-nomer{
    width: 6.7rem;
}

.tableBody_item-status svg{
    height: 1rem;
    width: 1rem;
}

.tableBody_item-positions{
    width: 10%;
}

.tableBody_item-summ{
    width: 13%;
}

.tableBody_item-name{
    width: 25%;
}

.tableBody_item-status-done svg{
    opacity: 0.5;
}

.tableBody_item-status-done span{
    color: var(--color-green);
    opacity: 0.5;
}


.tableBody_item-status-cancelled{
    opacity: 0.5;
}

.tableBody-border{
    border: 0.0625rem solid var(--color-day-light-blue);
    background-color: var(--color-day-light-blue);
    height: 0;
    opacity: 0.5;
}

.tableFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tableFooter_buttons{
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.button-color-red{
    background-color: var(--background-color-red);
}

.tableFooter__span{
    color: var(--color-blue);
    height: 1rem;
}

.tableFooter_button-setStatus button{
    width: 8.625rem;
    background-image: url(./icons/pencil-white.svg);
}

.tableFooter_button-dellete button{
    width: 5.375rem;
    background-image: url(/icons/bin-white.svg);
    background-color: var(--background-color-red);
}

.tableFooter_pages{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.tableFooter_pages_button{
    margin-right: 1rem;
}
