/*:root{
    --background-color-blue: #459DF5;
    --color-white: #ffffff;
    --color-black: #000000;
}*/

.button_sizing-big{
    box-sizing: border-box;
}

.button_sizing-big button{
    box-sizing: border-box;
    height: 2rem;
    width: 7rem;
}

.button_primary button{
    font-family: 'Ubuntu' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background-color: var(--background-color-blue);    
    color: var(--color-white);
    border-radius: 4px;
    border: none;
}

.button_icon button{
    background-image: url(/icons/locked-white.svg);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position: 1rem 0.5rem;
    padding-left: 1.5rem;
}

.button_sizing-average{
    box-sizing: border-box;
}

.button_sizing-average button{
    height: 2rem;
    width: 5.5rem;
}

.button_sizing-small{
    box-sizing: border-box;
}

.button_sizing-small button{
    height: 2rem;
    width: 2rem;
}

.button_icon-small button{
    background-image: url(/icons/locked-white.svg);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position: 0.5rem 0.5rem;
    padding-left: 1.5rem;
}

.button_sizing-low-big{
    box-sizing: border-box;
}

.button_sizing-low-big button{
    height: 1.5rem;
    width: 5.75rem;
}

.button_low_icon button{
    background-image: url(/icons/locked-white.svg);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position: 0.5rem 0.25rem;
    padding-left: 1.75rem;
}

.button_sizing-low-average{
    box-sizing: border-box;
}

.button_sizing-low-average button{
    height: 1.5rem;
    width: 4.5rem;
}

.button_sizing-low-small{
    box-sizing: border-box;
}

.button_sizing-low-small button{
    height: 1.5rem;
    width: 1.5rem;
}

.button_icon-small-low button{
    background-image: url(/icons/locked-white.svg);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position: 0.25rem 0.25rem;

}

.button_transparent button{
    font-family: 'Ubuntu' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background-color: transparent;      
    color: var(--background-color-blue);
    border-radius: 4px;
    border: none;

}

.button_icon-blue button{
    background-image: url(/icons/locked-blue.svg);
}

.button_text-black button{
    color: var(--color-black);
}

.button_icon-black button{
    background-image: url(/icons/locked.svg);
}