:root{
    --background-color-blue: #459DF5;
    --color-white: #ffffff;
    --color-black: #000000;
    --background-color-white: #ffffff;
    --color-day-light-blue: #BAD8F5;
    --color-blue: #459DF5;
    --border-color-blue:#459DF5;
    --border-color-red: #F53152;
    --background-color-day-light-blue: #BAD8F5;
    --background-white: #ffffff;
    --border-color-day-light-blue: #BAD8F5;
}