:root{
    --background-color-white: #ffffff;
    --background-color-filter-day-light-blue: #EBF0F5;
    --background-table-header: #459DF5;
    --background-color-day-shade: #2184e8;
    --color-orange: #FF8C56;
    --color-green: #0FB864;
    --background-color-red: #F53152;
    --color-blue: #459DF5;
}

body{
    background-color: var(--background-color-white);
    padding-left: 3rem;
    padding-top: 2rem;
    padding-right: 3rem;
}

header{
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.switcherShow_header{
    box-sizing: border-box;
    height: 2rem;
}

.upper-panel-area{
    display: flex;
    height: 2rem;
    justify-content: space-between;
}

.upper-panel{
    display: flex;
    gap: 1rem;
    width: 38.3125rem;
}

.upper-panel_button button{
    height: 2.1rem;
    background-image: url(./icons/filter-white.svg);
}

.upper-panel_button-reset button{
    width: 9.25rem;
    height: 2.1rem;
}

.load_button button{
    background-image: url(./icons/refresh.svg);
}

.filter-panel{
    box-sizing: border-box;
    background-color: var(--background-color-filter-day-light-blue);
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    min-width: 57rem;
    margin-top: 1rem;

}

.filter-panel_input{
    flex-grow: 1;
    min-width: 9.5rem;
    max-width: 10rem;
    margin-right: 0.25rem;
}

.filter-panel_input div{
    border-color: var(--border-color-blue);
}

.filter-panel_button-icon{
    background-image: url(./icons/v_arrow.svg);
    background-size: 1rem 1rem;
    background-position: 0rem 0rem;
}

.filter-panel_status{
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 12rem;
}

.tableHeader{
    display: flex;
    margin-top: 1rem;
    background-color: var(--background-table-header);
    font-family: 'Ubuntu' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
}

.tableHeader_check{
    box-sizing: border-box;
    padding: 0.75rem 0.5rem;
    margin-left: 0.5rem;
    background-color: var(--background-table-header);
}

.tableHeader_nomer{
    box-sizing: border-box;
    min-width:  6.75rem;
    width: 6.75rem;
    padding-left: 0.5rem;
    padding-top: 0.75rem;
    background-color: var(--background-table-header);
    
}

.tableHeader_nomer span{
    color: var(--background-color-white);
}

.tableHeader_item{
    box-sizing: border-box;
    background-color: var(--background-table-header);
    display: flex;
    min-width: 11rem;
    width: 11rem;
    padding-left: 0.5rem;
}

.tableHeader_item span{
    box-sizing: border-box;
    padding-top: 0.75rem;
    color: var(--background-color-white);
}

.tableHeader_item_button button{
    margin-top: 0.4rem;
    background-image: url(./icons/v_arrow-white.svg);
}

.tableHeader-checked{
    background-color: var(--background-color-day-shade);
}

.tableHeader_item-positions{
    min-width: 6.5rem;
    width: 6.5rem;
}

.tableHeader_item-summ{
    min-width: 8rem;
    width: 8rem;
}

.tableHeader_name{
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 64rem;
    padding-left: 0.5rem;
    padding-top: 0.75rem;
    background-color: var(--background-table-header);
    margin-right: 0.5rem;
}

.tableHeader_name span{
    color: var(--background-color-white);
}

.tableBody{
    height: 27.5rem;
    overflow: auto;
}

.tableBody_row{
    display: flex;
    font-family: 'Ubuntu' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
}

.tableBody_check{
    box-sizing: border-box;
    padding: 0.75rem 0.5rem;
    margin-left: 0.5rem;
    
}

.tableBody_item{
    box-sizing: border-box;
    min-width: 6.75rem;
    width: 6.75rem;
    padding-left: 0.5rem;
    padding-top: 0.75rem;
}

.tableBody_item-data{
    min-width: 11rem;
    width: 11rem;
}

.tableBody_item-status{
    box-sizing: border-box;
    padding-left: 1.5rem;
    background-image: url(./icons/dot-orange.svg);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 0.25rem 0.8rem;
    min-width: 11rem;
    width: 11rem;
}

.tableBody_item-positions{
    min-width: 6.5rem;
    width: 6.5rem;
}

.tableBody_item-summ{
    min-width: 8rem;
    width: 8rem;
}

.tableBody_item-name{
    max-width: 64rem;
    flex-grow: 1;
}

.tableBody_item-status-calculation{
    background-image: url(./icons/dot-blue.svg);
}

.tableBody_item-status-done{
    background-image: url(./icons/checkmark-green.svg);
    color: var(--color-green);
    opacity: 0.5;
}

.tableBody_item-status-cancelled{
    opacity: 0.5;
    background-image: url(./icons/abort.svg);
}

.tableBody_item-status-postponed{
    background-image: url(./icons/dot-orange.svg);
}

.tableFooter{
    font-family: 'Ubuntu' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
}

.tableFooter_buttons{
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
}

.tableFooter_buttons span{
    color: var(--color-blue);
    margin-top: 0.25rem;
}

.tableFooter_button-setStatus button{
    width: 8.625rem;
    background-image: url(./icons/pencil-white.svg);
}

.tableFooter_button-dellete button{
    width: 5.375rem;
    background-image: url(/icons/bin-white.svg);
    background-color: var(--background-color-red);
}

.tableFooter_pages{
    box-sizing: border-box;
    display: flex;
    gap: 0.25rem;
}

.tableFooter_pages_button{
    margin-left: 1rem;
}